.cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.cards article {
  flex: 1 1 220px;
  padding: 24px;
  border-radius: 16px;
  background: #f1f5f9;
}

.myClass {
  color: #0c0c0c;
}
